* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Georgia";
    scroll-behavior: smooth;
}

:root { /*Variables globales que uso para colores favoritos*/
    --hlOrange: #fb7e14;
    --hlGrey: #292929;
}

/*=====================NAVBAR=====================*/

.nav-link{
    font-family: Poppins !important;
    font-size: 20px;
}

.fixed-theme { /*Transicion que use para MyScript*/
    transition: 1s;
}

/*=====================FONDO-BANNER=====================*/
/*Solo lo usare como banner*/
.portadaFotoDetalle {
    background-image: url(img/lenguaje-de-programación.jpg);
    min-height: 100vh; /*Para que ocupe todo el alto de la pantalla*/
    background-size: cover; /*Para que cubra todo*/
}
/*Esto es para oscurecer el background, el :before es para aplicar lo que quiera antes del .header*/
.portadaFotoDetalle:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    min-height: 100vh;
	background-color: rgba(0,0,0,0.6);
}

.header .myNavBar { /*Navbar transparente, el !importante porq uso bootstrap*/
    background-color: transparent !important;
}


/*Edit de la foto de portada y detalle en el header*/
/*Box*/

.mainBanner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Texto del header*/
.portadaFotoDetalle span{
    color:#a1a1a1;
    font-size: 25px;
    font-family: Poppins;
    line-height: 25px;
}
/*Foto*/
.fotoPortada {
    margin-bottom: 10px;
    border-radius: 100%;
}

/*=====================SOBRE-MI=====================*/

.textoSobreMi {
    line-height: 30px;
    text-align: justify;
}

/*=====================PROYECTOS=====================*/

/* CSS 
<!-- HTML !-->
<button class="button-5" role="button">Button 5</button>
*/
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--hlGrey);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--hlOrange);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus{
  background-color: var(--hlOrange);
  color: var(--hlGrey);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
  color: var(--hlGrey);
}

.btn-propio {
    font-family:Georgia;
    padding: 0.6rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 17%;
    border: 1px solid var(--hlGrey);
    background-color: var(--hlGrey);
    color: var(--hlOrange);
    cursor: pointer;
    text-decoration: none;
}

.btn-propio:hover{
    color: var(--hlGrey);
    border: 1px solid var(--hlOrange);
    background-color: var(--hlOrange);
    transition: 0.5s;
}

/*=====================OTROS=====================*/


h2 {
    font-size: 50px !important;
    color: var(--hlOrange);
}

/*Derechos de autor y etc*/
.subfooter {
    text-align: center;
    font-size: 10px;
}

/*=====================MEDIA-QUERIES=====================*/
/*Celus muy pequenios*/
@media (max-width: 575.98px){
    .fotoPortada {
        width: 34vh;
        height: 34vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }
}

/*Celus pequenios*/
@media (min-width: 576px) and (max-width: 767px){
    .fotoPortada {
        width: 65vh;
        height: 65vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
    .fotoPortada {
        width: 40vh;
        height: 40vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }
}

/*Celus pc*/
@media (min-width: 992px){
    .fotoPortada {
        width: 40vh;
        height: 40vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }
}

