* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root { /*Variables globales que uso para colores favoritos*/
    --hlgris: #fb7e14;
    --hlgrey: #292929;
}

body {
    border: 0,1px solid transparent;
    color: #292929;
}

/*=====================HEADER-BANNER=====================*/
/*Basicamente solo lo usare como banner*/
.header {
    background-image: url(img/lenguaje-de-programación.jpg);
    min-height: 100vh; /*Para que ocupe todo el alto de la pantalla*/
    background-size: cover; /*Para que cubra todo*/
}
/*Esto es para oscurecer el background, el :before es para aplicar lo que quiera antes del .header*/
.header:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.header .myNavBar { /*Transparente, el !importante porq uso bootstrap*/
    background-color: transparent !important;
}

/*Edit de la foto de portada y detalle en el header*/
/*Box*/
.portadaFotoDetalle {
    width: 500px;
    position: relative; /*Para usar el top*/
    top: 35vh;
    left: 52vh;
    text-align: justify;
}

/*Texto del header*/
.portadaFotoDetalle span{
    display: block;
    color:#a1a1a1;
    font-size: 25px;
    font-family: Poppins;
    text-align: justify;
    line-height: 25px;
    position: relative;
    top: 70px;
    left: 30px;
}
/*Foto*/
.fotoPortada {
    border-radius: 100%;
}

/*Efecto maquina de escribir*/

.descripcionBanner{
    white-space: nowrap;
    border-right: 1px solid;
    width: 17.6ch;
    
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% { border-color: transparent }
}

/*=====================OTROS-APARTADOS=====================*/
#Sobre-Mi {
    width: 100%;
    max-width: 1000px;
    margin-top: 120px;
    margin-bottom: 250px;
    margin-left: 150px;
}

#Proyectos {
    margin-bottom: 120px;
}

h2 {
    font-size: 50px !important;
    color: var(--hlgris);
}

#contact h2{
    margin-bottom: 70px;
}

.textoSobreMi {
    line-height: 30px;
    text-align: justify;
}

.contenedor { /*Uso display grid para armar una grilla con mis skills*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (4, auto);
}

.contenedor h3 { 
    grid-column-start: 1;
    grid-column-end: 4;
}

.contenedor .herramienta {
    text-align: center;
}

/*Derechos de autor y etc*/
.subfooter {
    text-align: center;
    font-size: 10px;
    margin-top: 120px;
}

/*=====================NAVBAR=====================*/

.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nav-link{
    font-family: Poppins !important;
    font-size: 20px;
}

.fixed-theme { /*Transicion que use para MyScript*/
    transition: 1s;
}

/*=====================MEDIA-QUERIES=====================*/
/*Celus muy pequenios*/
@media (max-width: 575.98px){
    #Sobre-Mi {
        margin-left: -10px;
    }

    #tools {
        margin-top: 50px !important;
    }

    .portadaFotoDetalle {
        left: -1vh;
    }
}

/*Celus pequenios*/
@media (min-width: 576px) and (max-width: 767px){
    #Sobre-Mi {
        margin-left: -10px;
    }
    #tools {
        margin-top: 50px !important;
    }

    .portadaFotoDetalle {
        left: 10vh;
    }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
    #Sobre-Mi {
        margin-left: -10px;
    }

    .portadaFotoDetalle {
        left: 5vh;
    }
}

/*Celus pc*/
@media (min-width: 992px){
    
}

