/*=====================NOTAS=====================
-----------Agregar transicion a las redes sociales.
-----------Cambiar las imagenes de las herramientas por icons.
-----------Poner foto en apartado Sobre-Mi
-----------Agregar barra de skills y cambiar de lugar las herramientas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root { /*Variables globales que uso para colores favoritos*/
    --hlOrange: #fb7f13;
    --hlGrey: #292929;
    --claro: seashell;
    --turquesa: #008083;
}

/*=====================GENERALES=====================*/
h2 {
    font-size: 50px !important;
    color: var(--hlOrange);
}

body {
    background-color: var(--claro) !important;
}

/*=====================NAVBAR=====================*/
#MyNavBar{
    max-height: 50px;
}
.navbar-brand img{
    width:40px; 
    height:30px;
}

.nav-link{
    font-size: 1.4em !important;
    color: #DDD !important;
}

.nav-link:hover{
    color: var(--hlOrange) !important;
}

.header .myNavBar { /*Navbar transparente, el !importante porq uso bootstrap*/
    background-color: transparent !important;
}

.fixed-theme { /*Transicion del script scroll*/
    transition: 1s;
}
/*=====================BANNER=====================*/
/*====FOTO====*/
.banner {
    background-image: url("../assets/img/lenguaje-de-programación.jpg");
    min-height: 100vh; /*Para que ocupe todo el alto de la pantalla*/
    background-size: cover; /*Para que cubra todo*/
    background-attachment: fixed;
}
/*Esto es para oscurecer el background, el :before es para aplicar lo que quiera antes del .header*/
.banner:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    min-height: 100vh;
	background-color: rgba(0,0,0,0.4);
}

/*Edit de la foto de portada y detalle en el header*/
/*Box*/

.banner-content {
    position: absolute;
    text-align: center;
    top: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*Texto del header*/
.banner span{
    color:#a1a1a1;
    font-size: 25px;
    line-height: 25px;
}

.resaltador {
    font-size: 30px;
    font-weight: 500;
    color: var(--hlOrange);
}
/*Foto*/
.fotoPortada {
    border-radius: 100%;
}

/*=====================SOBRE-MI=====================*/


.sobre-mi-container{
    min-height: 100vh;
}

.textoSobreMi {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.textoSobreMi h3, .herramientas h3{
    font-size: 30px;
    font-weight: bold;
    color: var(--turquesa);
}

figcaption {
    color: var(--hlGrey) !important;
    font-weight: bold;
}

.figure-img {
    color: var(--hlGrey);
    font-size: 120px;
    transition: all 0.2s ease-in-out;
}

.figure-img:hover {
    -webkit-transform:scale(1);
    transform:scale(1.1);
    color: var(--hlOrange);
}

/*=====================PROYECTOS=====================*/

/* CSS 
<!-- HTML !-->
<button class="button-5" role="button">Button 5</button>
*/
.button-5 {
  background-clip: padding-box;
  background-color: var(--hlGrey);
  border-radius: .25rem;
  color: var(--hlOrange);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}

.button-5:hover{
  background-color: var(--hlOrange);
  color: var(--hlGrey);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}


.card {
    min-height: 600px;
    max-height: 900px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*=====================CONTACTO=====================*/

.imgContacto{
	width: 73%;
	height: 80%;
}

.form-group label{
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	color: #828282;
}
.form-control{
	border: none; /*1px solid #f4f4f4;*/
	border-radius: 20px;
	background: rgba(165, 147, 69, 0.075);/*#f4f4f4;*/
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.form-control:focus {
    color: #495057;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 1px 1px 1px var(--hlOrange) !important;
}

/*=====================FOOTER=====================*/
/* footer container */
#footer {
    text-align: center;
    background-color: var(--hlGrey);
    width: 100%;
    padding: 1%;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.figure-footer{
    color: var(--claro);
    transition: all 0.2s ease-in-out;
}

.figure-footer:hover {
    color: var(--hlOrange);
}


.derechos {
    margin-bottom: -15.1px;
    color: var(--claro);
}

.figure-footer-extra{
    color: var(--claro) !important;
}

/*=====================MEDIA-QUERIES=====================*/
/*Celus muy pequenios*/
@media (max-width: 575.98px){
    .fotoPortada {
        width: 34vh;
        height: 34vh;
    }

    .imgContacto{
        width: 80%;
        height: 90%;
    }
}

/*Celus pequenios*/
@media (min-width: 576px) and (max-width: 767px){
    .fotoPortada {
        width: 40vh;
        height: 40vh;
        border-radius: 100%;
    }
    .banner-content {
        top: 30%;
    }
    
    .imgContacto{
        width: 68%;
        height: 75%;
    }

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
    .fotoPortada {
        width: 40vh;
        height: 40vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }

    .imgContacto{
        width: 65%;
        height: 55%;
    }
}

/*Celus pc*/
@media (min-width: 992px){
    .fotoPortada {
        width: 40vh;
        height: 40vh;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 100%;
    }
}

